h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
body {
  margin: 0;
  padding: 0;
}

body, html {
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
}

.hero {
  width: 100%;
  height: 400px;
  background-image: url(../images/bgimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .hero {
    height: 600px;
  }
}

.hero h2 {
  font-family: "Patrick Hand";
  color: #fff;
  font-size: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero h2 {
    font-size: 60px;
  }
}

.about-food-box {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #59260B;
}
@media screen and (min-width: 768px) {
  .about-food-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.about-food-item {
  display: flex;
  height: 300px;
  align-self: center;
  flex-direction: column;
}

.about-food-item img {
  width: 280px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #000000;
}
@media screen and (min-width: 1440px) {
  .about-food-item img {
    width: 330px;
    height: 220px;
  }
}

.aboud-food-text {
  width: 300px;
  line-height: 20px;
  font-family: "Patrick Hand";
  color: #fff;
}
@media screen and (min-width: 768px) {
  .aboud-food-text {
    width: 250px;
  }
}

.aboud-food-text h2 {
  margin-bottom: 25px;
  font-size: 30px;
}

.about-food-item:first-child {
  justify-content: center;
  align-items: center;
}

.about-food-item:nth-child(2) {
  justify-content: center;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .about-food-item:nth-child(2) {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .about-food-item:nth-child(2) img {
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-food-item:nth-child(2) img {
    width: 220px;
    height: 140px;
  }
}
@media screen and (min-width: 768px) {
  .about-food-item:nth-child(2) img {
    margin-top: 10px;
  }
}

.about-food-item:nth-child(3) {
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about-food-item:nth-child(3) {
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .about-food-item:nth-child(3) img {
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-food-item:nth-child(3) img {
    width: 220px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .about-food-item:nth-child(3) img {
    margin-bottom: 15px;
  }
}

.about-us-box {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #72360F;
}
@media screen and (min-width: 768px) {
  .about-us-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.about-us-item {
  display: flex;
  height: 300px;
  flex-direction: column;
}

.about-us-item img {
  width: 280px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #000000;
}
@media screen and (min-width: 1440px) {
  .about-us-item img {
    width: 330px;
    height: 220px;
  }
}

.about-us-text {
  width: 300px;
  line-height: 20px;
  font-family: "Patrick Hand";
  color: #fff;
}
@media screen and (min-width: 768px) {
  .about-us-text {
    width: 250px;
  }
}

.about-us-item h2 {
  margin-bottom: 25px;
  font-size: 30px;
}

.about-us-item:first-child {
  align-items: flex-end;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about-us-item:first-child {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .about-us-item:first-child img {
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-us-item:first-child img {
    width: 220px;
    height: 140px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .about-us-item:first-child img {
    margin-top: 10px;
  }
}

.about-us-item:nth-child(2) {
  align-items: flex-start;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about-us-item:nth-child(2) {
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .about-us-item:nth-child(2) img {
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-us-item:nth-child(2) img {
    width: 220px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .about-us-item:nth-child(2) img {
    margin-bottom: 15px;
  }
}

.about-us-item:last-child {
  justify-content: center;
  align-items: center;
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #59260B;
}

.download h2 {
  margin-bottom: 15px;
  color: #fff;
  font-family: "Patrick Hand";
  font-size: 40px;
  text-align: center;
}

.download a button {
  font-size: 20px;
  padding: 10px;
  background-color: #ff6600;
  border: 1px solid #ff6600;
  border-radius: 10px;
  color: #fff;
  font-family: "Patrick Hand";
  box-shadow: 5px 5px 5px #000000;
}

.section5 {
  width: 1444px;
  height: 845px;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../fon_section5.png);
}/*# sourceMappingURL=main.css.map */