.about-food-box{
    display: grid;
    grid-template-columns: 1fr;
    background-color: $color-primary;
    @media screen and (min-width:768px){
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.about-food-item{
    display: flex;
    height: 300px;
    align-self: center;
    flex-direction: column;
}
.about-food-item img{
    width: 280px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #000000;
    @media screen and (min-width:1440px) {
        width: 330px;
        height: 220px;
    }
}
.aboud-food-text{
    width: 300px;
    line-height: 20px;
    font-family: "Patrick Hand";
    color: $text-color;
    @media screen and (min-width:768px) {
        width: 250px;
    }
}
.aboud-food-text h2{
    margin-bottom: 25px;
    font-size: 30px;
}
.about-food-item:first-child{
    justify-content: center;
    align-items: center;
}
.about-food-item:nth-child(2){
    justify-content: center;
    align-items: flex-end;

    @media screen and (min-width:768px) {
        justify-content: flex-start;
        align-items: center;
    }
}
.about-food-item:nth-child(2) img{
    @media screen and (max-width:320px) and (max-width:768px) {
        margin-right: 10px;
    }
    @media screen and (min-width:768px) and (max-width:1024px) {
        width: 220px;
        height: 140px;    
    }
    @media screen and (min-width: 768px) {
        margin-top: 10px;
    }

}
.about-food-item:nth-child(3){
    justify-content: center;
    @media screen and (min-width:768px) {
        justify-content: flex-end;
        align-items: center;
    }
}
.about-food-item:nth-child(3) img{
    @media screen and (max-width:320px) and (max-width:768px) {
        margin-left: 10px;
    }
    @media screen and (min-width:768px) and (max-width:1024px){
        width: 220px;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 15px;
    }
    
}


