header {
    position: fixed;
    background-color: $color-primary;
    background-attachment: fixed;
    flex-direction: row;
    justify-content: space-around;    
    width: 100%;
    transition-property: box-shadow;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 0;
    &:hover{
        box-shadow: 0 10px 15px 5px #000000;
    }
    a, p {
        font-family: 'Roboto';
        color: $text-color;
        font-size: 15px;
    }

    &, nav, div {
        display: flex;
    }

    nav, div {
        align-items: center;
    }

    a {
        border-radius: 5px;
        padding: 6px;
        transition-property: color;
        transition-duration: 300ms;
        transition-timing-function: linear;
        transition-delay: 0;
        &:hover {
            color: $button-color;
        }
    }

    nav {
        width: 550px;
        justify-content: space-between;
    }

    @media screen and (max-width:767px) {
        height: 95px;
        nav {
            display: none;
        }

    }
}
